client/*.iml
client/.gradle
client/local.properties
client/.idea/
client/.DS_Store
client/build
client/captures
client/.externalNativeBuild
client/.cxx
client/local.properties
server/node_modules/
server/build/
server/.idea/
server/.nyc_output
server/images/announcements/*
server/*.csv
server/.vscode/
server/images/profiles/
!server/images/profiles/child_default_photo.jpg
!server/images/profiles/user_default_photo.png
server/images/groups/
!server/images/groups/group_default_photo.png
server/coverage
.idea/
server/client/node_modules/